#nameVbox,#birthdayVbox,#specialityVbox,#univVbox,#telVbox,#emailVbox,#adresseVbox{
    -fx-border-width:0 0 0 5;
    -fx-border-color:#039be5;
    -fx-background-color:rgba(255,255,255,0.1);
}
#infoForm{
    -fx-background-color:#37474f;
}
#addStudentBtn,#printListBtn,#searchBtn,#searchTf,#showallBtn,#filterBtn,#schoolYearList{
   -fx-background-color: rgba(255,255,255,0.2);
   -fx-background-radius: 0px 0px 0px 0px;
   -fx-text-fill:white;
}
#addStudentBtn:hover,#printListBtn:hover,#searchBtn:hover,#showallBtn:hover,#filterBtn:hover{
   -fx-background-color:rgba(255,255,255,0.1);
}
#modifyStudentBtn,#deleteStudentBtn,#plusInfoStudentBtn{
  -fx-background-color:transparent;
  -fx-border-color:white;
  -fx-border-width:1.6;
  -fx-background-radius: 0px 0px 0px 0px;
  -fx-text-fill:white;
  -fx-opacity:1;

}
#modifyStudentBtn:hover,#deleteStudentBtn:hover,#plusInfoStudentBtn:hover{
     -fx-background-color:rgba(255,255,255,0.1);
}
#toolbar,#toolbar1{
   -fx-background-color:rgb(0,150,15);
}
#searchTf{
     -fx-background-radius: 0px 0px 0px 0px;
}
#searchBtn{
    -fx-background-radius: 0px 0px 0px 0px;
}
.label-header {
    -fx-font-size: 11pt;
    -fx-font-family: "Serif";
    -fx-opacity: 1;
}
.table-view .row-selection{
-fx-font-size: 10pt;
-fx-text-fill: blue;
}
.table-row-cell:filled:hover,
.table-row-cell:filled > .table-cell:hover {
    -fx-background:#607d8b;
}
#studentListPane{
    -fx-background-color:#37474f;
}
#infoBar{
   -fx-background-color:#eeeeee;
}
.split-pane:horizontal >.split-pane-divider {
       -fx-border-color: transparent -fx-base transparent -fx-base;
       -fx-background-color: transparent, derive(-fx-base,20%);
       -fx-background-insets: 0, 0 1 0 1;
}
.split-pane *.horizontal-grabber {
        -fx-padding: 5 1 5 1;
        -fx-background-color: black, -fx-box-border;
        -fx-shape: "M0 0 L0 0 L2 0 L2 2 L0 2 Z M0 4 L0 4 L2 4 L2 6 L0 6 Z M0 8 L0 8 L2 8 L2 10 L0 10 Z";
}
#nameLbl,#birthdayLbl,#specialityLbl,#univLbl,#telLbl,#emailLbl,#adresseLbl{

}
#photoLbl{
    -fx-border-radius:30px;
}
#photoIv{

}
#time{
  -fx-font-weight:bold;
}
.table-view .column-header,.table-view .filler{

}
#tableBtn,#graphBtn,#exportexcel,#exportpdf,#exit,#home,#fullscreen,#settingsBtn,#importStudentBtn{
 -fx-background-color:rgba(255,255,255,0.2);
 -fx-background-radius:0;
}
#tableBtn:hover,#graphBtn:hover,#exportexcel:hover,#exportpdf:hover,#exit:hover,#home:hover,#fullscreen:hover,#settingsBtn:hover,#importStudentBtn:hover{
 -fx-background-color:rgba(255,255,255,0.1);
}
.tab-label{
    -fx-text-fill:white;
}
.tab{
    -fx-background-color:rgba(0,150,15,0.7);
    -fx-background-radius:0;
    -fx-focus-color: transparent;
}
.tab:hover{
    -fx-background-color:rgba(0,150,15,1);
     -fx-background-radius:0;
}
.tab:selected{
    -fx-background-color:rgba(0,150,15,1);
    -fx-background-radius:0;
}